@font-face {
    font-family: "Hero";
    src: local("Hero"), url("/fonts/Hero-Regular.ttf"), url("/fonts/Hero-Regular.otf");
}

@font-face {
    font-family: "Hero";
    src: local("Hero"), url("/fonts/Hero-Bold.ttf"), url('/fonts/Hero-Bold.otf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hero", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #00EC7E transparent;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #00EC7E;
    border-radius: 5px;
}

[x-cloak] {
    display: none !important;
}
