.footer {
    background-color: #222429;
}

.footer__container {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__ifsp-link {
    line-height: 0;
}

.footer__ifsp-logo {
    height: 46px;
}

.footer__navbar {
    display: flex;
    list-style: none;
}

.footer__navbar-item {
    margin-left: 10px;
}

.footer__navbar-link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 14px;
    font-weight: bold;
    color: #EFEFEF;
}

.footer__navbar-item:last-child .footer__navbar-link {
    padding-right: 0;
}

.footer__navbar-link:hover {
    color: #00EC7E;
}

@media screen and (max-width: 750px) {
    .footer__container {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer__ifsp-link {
        margin-top: 10px;
    }

    .footer__navbar {
        margin-top: 20px;
    }

    .footer__navbar-item:first-child {
        margin-left: 0;
    }

    .footer__navbar-item:last-child .footer__navbar-link {
        padding-right: 10px;
    }
}

@media screen and (max-width: 490px) {
    .footer__navbar {
        flex-direction: column;
        align-items: center;
    }

    .footer__navbar-item {
        margin-top: 10px;
        margin-left: 0;
    }

    .footer__navbar-item:first-child {
        margin-top: 0;
    }
}
