.form {
    width: 410px;
    max-width: 100vw;
    padding: 20px;
    background-color: #373C43;
    border-radius: 10px;
}

.form--no-style {
    width: initial;
    max-width: initial;
    padding: initial;
    background-color: initial;
    border-radius: initial;
}

.form__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2rem;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

.form__title-highlight {
    color: #00EC7E;
}

.form__info {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #EFEFEF;
    line-height: 20px;
}

.form__info--centered {
    text-align: center;
}

.form__info-highlight {
    color: #00EC7E;
}

.form__info-link {
    color: inherit;
}

.form__info-link:hover {
    color: #00FF88;
}

.form .button {
    margin-top: 30px;
}
