.input-search {
    width: 600px;
    max-width: 100%;
}

.input-search__input-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #3D424A;
}

.input-search__input-container--outlined {
    background-color: transparent;
    border: 2px solid #3D424A;
}

.input-search__input {
    padding: 0 15px;
    width: 100%;
    height: 38px;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    border-radius: 10px 0 0 10px;
    color: #fff;
    outline: none;
    line-height: 0;
}

.input-search__input::placeholder {
    color: #EFEFEF;
    opacity: 1;
}

.input-search__button {
    height: auto;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    line-height: 0;
    cursor: pointer;
}

.input-search__button:hover {
    background-color: #2E333A;
}

.input-search__input-container--outlined .input-search__button:hover {
    background-color: #3D424A;
}
