.project-comment-list {
    padding-top: 30px;
    width: 100%;
}

.project-comment-list .pagination {
    margin-top: 30px;
}

.project-comment-list__header {
    display: flex;
    align-items: center;
}

.project-comment-list__header svg {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.project-comment-list__header-text {
    margin-right: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 22px;
    color: #fff;
}

.project-comment-list__published-total {
    font-size: 1.8rem;
    line-height: 22px;
    color: #EFEFEF;
}

.project-comment-list__new-comment {
    margin-top: 20px;
    display: flex;
}

.project-comment-list__user-photo-container {
    margin-right: 5px;
    line-height: 0;
}

.project-comment-list__user-photo {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.project-comment-list__new-comment .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-comment-list__new-comment .form-group {
    width: 100%;
}

.project-comment-list__new-comment .form .button {
    margin-top: 20px;
}

.project-comment-list__new-comment .text-area-container,
.project-comment-list__new-comment .text-area {
    background-color: #3D424A;
}

.project-comment-list__new-comment .text-area {
    font-size: 1.6rem;
    line-height: 22px;
}

.project-comment-list__comment {
    padding-top: 30px;
}

.project-comment-list__comment-header {
    width: max-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.project-comment-list__comment-author-photo-container {
    line-height: 0;
}

.project-comment-list__comment-author-photo {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.project-comment-list__comment-info {
    min-width: 0;
    margin-left: 5px;
}

.project-comment-list__comment-author-name {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 17px;
    color: #00EC7E;
}

.project-comment-list__comment-header:hover .project-comment-list__comment-author-name {
    text-decoration: underline;
}

.project-comment-list__comment-datetime {
    min-width: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.4rem;
    line-height: 16px;
    color: #EFEFEF;
}

.project-comment-list__comment-date-container {
    display: flex;
    align-items: center;
}

.project-comment-list__comment-date-container::after {
    display: block;
    content: "";
    width: 3px;
    height: 3px;
    margin: 0 5px;
    background-color: #EFEFEF;
    border-radius: 50%;
}

.project-comment-list__comment-content-container {
    margin-top: 10px;
    margin-left: 40px;
}

.project-comment-list__comment-content {
    font-size: 1.6rem;
    color: #fff;
    line-height: 22px;
}

.project-comment-list__comment-content-related-user {
    margin-right: 10px;
    color: #00EC7E;
    text-decoration: none;
}

.project-comment-list__comment-content-related-user:hover {
    text-decoration: underline;
}

.project-comment-list__comment-content-read-button {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #EFEFEF;
    line-height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.project-comment-list__comment-content-read-button:hover {
    text-decoration: underline;
}

.project-comment-list__actions {
    margin-top: 15px;
    margin-left: 40px;
}

.project-comment-list__actions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-comment-list__actions-container > .form > .button {
    margin-top: 0;
}

.project-comment-list__actions-container > .form > .button,
.project-comment-list__actions-container > .button {
    width: 115px;
    height: 30px;
    font-size: 1.4rem;
}

.project-comment-list__actions-container > .form > .button svg,
.project-comment-list__actions-container > .button svg {
    width: 20px;
    height: 18px;
}

.project-comment-list__modal-text {
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    line-height: 22px;
}

.project-comment-list__modal-link {
    color: #00EC7E;
    text-decoration: none;
}

.project-comment-list__modal-link:hover {
    text-decoration: underline;
}

.project-comment-list__delete-comment-message {
    margin-bottom: 0;
    font-weight: normal;
    color: #FF4D58;
}

.project-comment-list__form-edit-comment {
    margin-top: 10px;
}

.project-comment-list__modal-comment .modal__container {
    width: 600px;
}

@media screen and (max-width: 319px) {
    .project-comment-list__new-comment .form .button,
    .project-comment-list__actions-container > .form,
    .project-comment-list__actions-container > .form > .button,
    .project-comment-list__actions-container > .button {
        width: 100%;
    }
}
