.text-area-container {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px;
    background-color: #282B30;
}

.text-area {
    padding-right: 5px;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    line-height: 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline: none;
    resize: none;
}

.text-area::placeholder {
    color: #EFEFEF;
    opacity: 1;
}

.text-area__counter {
    margin-top: 15px;
    font-size: 1.4rem;
    color: #EFEFEF;
}
