.forgot-password {
    display: flex;
    justify-content: center;
}

.forgot-password__text {
    font-size: 1.4rem;
    color: #fff;
    line-height: 20px;
}

.forgot-password__message {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #00EC7E;
    line-height: 20px;
}
