.profile-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.profile-show .project-list,
.profile-show .input-search {
    margin-top: 30px;
}
